body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #4f4f4f;
}

#add-post {
    background-color: #007bff;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
    top: -15px;
}

.buttons * {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: 8px;
}

.delete-post {
    background-color: #c00000f5;
    border: 2px, solid #c00000f5;
}
.update-post {
    background-color: #08af69;
    border: 2px, solid #08af69;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

.post h2 {
    margin-top: 0;
}

.post p {
    margin: 10px 0;
}
